#menuToggle input {
    display: none;
}

@media screen and (max-width: 900px) {
    #menuToggle {
        display: block;
        position: fixed;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle a {
        text-decoration: none;
        color: #888;
        font-weight: normal;
        transition: color 0.3s ease;
    }
    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }
    /*
    * Just a quick hamburger
    */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: var(--main-dark-color);
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #7c7c7c;
    }
    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }
    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }
    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }
    /*
    * And let's slide it in from the left
    */
    #menuToggle input:checked~ul {
        transform: none;
    }
    #menuToggle input:checked~nav {
        visibility: visible;
        width: 40%;
        z-index: -1;
        overflow-y: scroll;
        padding: 60px;
        left: 0px;
        transition: left .35s;
    }
}

@media print {
    nav {
        display: none !important;
    }
}

nav {
    background-color: #252525;
    position: fixed;
    width: 250px;
    height: -webkit-fill-available;
    padding: 2% 1.5%;
    z-index: 100;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: visible;
    overflow-wrap: break-word;
    font-size: 1em;
    line-height: 1.5em;
    transition: width .35s, opacity .25s;
    box-shadow: 5px 0 10px rgb(0 0 0 / 15%);
    background-image: url(images/ornament-white.png);
    background-repeat: repeat;
    overflow-y: overlay;
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #333;
    scrollbar-arrow-color: #333;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

@media screen and (max-width: 900px) {
    nav {
        left: -250px;
        visibility: hidden;
    }
}

nav::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

nav::-webkit-scrollbar-button {
    background-color: #666;
}

nav::-webkit-scrollbar-track {
    background-color: #646464;
}

nav::-webkit-scrollbar-track-piece {
    background-color: #333;
}

nav::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
}

nav::-webkit-scrollbar-corner {
    background-color: #646464;
}

nav::-webkit-resizer {
    background-color: #666;
}

nav h1, nav h2, nav h3 {
    color: #fff;
    margin-top: 0;
    text-align: center;
}

#toc-desc {
    color: #999;
    font-size: 0.7em;
    margin-bottom: 1em;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

nav a {
    background: #252525;
    color: #888;
    font-family: 'Germania One', cursive;
    text-decoration: none;
    font-weight: normal;
}

nav li.selected {
    background: #252525;
    color: #FFF;
    font-family: 'Germania One', cursive;
    text-decoration: none;
    font-weight: normal;
}

nav ul ul {
    padding-left: 1em;
    margin: 0px;
    position: relative;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

/* li.active */

nav li.active>ul {
    max-height: 1000px;
    opacity: 1;
    background-color: #303030;
}

nav li.active a {
    background-color: #303030;
}