@import "style.css";
html {
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

.active>a {
    color: white;
}

img {
    max-height: 640px;
    object-fit: contain;
}

img.big {
    max-height: unset;
}

@media screen and (max-width: 900px) {
    img.left, img.right {
        display: none;
    }
    table {
        display: table;
        width: 100%;
    }
}

.dicebox .dice{
    top: -0.4em;
}

.dicebox {
    border: var(--main-dark-color) 2px solid;
    border-radius: 8px;
    padding: 0px 15px;
    display: inline-block;
    margin: 3px;
    height: 2em;
    display: inline-block;
}

.dicebox-result {
    display: inline;
    top: -0.2em;
    position: relative;
    font-size: 1.8em;
}

.btn {
    cursor: pointer;
    padding: 5px 15px;
    color: var(--main-selected-color);
    border: 0;
    font-size: 17px;
    background-color: var(--main-grey-color);
    border: var(--main-dark-color) 2px solid;
    border-bottom: 10px solid var(--main-dark-color);
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 8px;
    display: inline-block;
    font-weight: bold;
    user-select: none;
    height: 1.2em;
    margin: 3px;
}

.btn:hover {
    color: var(--main-dark-color);
    background-color: var(--main-selected-color);
    transition: border 0.1s ease;
}

.btn:active {
    color: var(--main-dark-color);
    background-color: var(--main-selected-color);
    border-top: 10px solid var(--main-dark-color);
    border-bottom: 2px solid var(--main-dark-color);
    transition: border 0.03s ease;
}

tr.selected strong {
    color: var(--main-selected-color) !important;
}
tr.selected {
    background-color: #1e553d !important;
    color: var(--main-selected-color) !important;
}

img.left {
    margin-left: -6em;
}

img.right {
    margin-right: -6em;
}

.print {
    display: none;
}

body {
    background: none;
    margin: 0;
    margin-left: 290px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    background-image: url(images/spots.png);
    background-repeat: repeat;
}

@media print {
    body {
        margin: 0;
        margin-left: 0;
        overflow: visible;
    }
    #main-document {
        width: 100%;
        margin-left: 0px;
        overflow: visible;
    }
}

#main-document {
    padding: 1em;
    margin: auto;
    max-width: 42em;
}

@media screen and (max-width: 900px) {
    body {
        margin: 0;
        margin-left: 0;
    }
    #main-document {
        width: -webkit-fill-available;
        margin-left: 0;
        max-width: unset;
    }
}

img.left {
    float: left;
    clear: left;
    max-width: 20em;
    margin: 1em;
    margin-left: -1em;
}

img.right {
    float: right;
    clear: right;
    max-width: 20em;
    margin: 1em;
    margin-right: -1em;
}

/* Hacks */

#combat-actions>table, #bestiary table {
    width: -webkit-fill-available;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    position: relative;
    margin-right: -25px;
    top: -4px;
    left: -35px;
    font-size: 0.5em;
    border-radius: 50%;
    border: none;
    padding: 4px;
    opacity: 20%;
    scroll-margin-top: 1em;
}

h1 a:hover, h1 a:focus-visible, h2 a:hover, h2 a:focus-visible, h3 a:hover, h3 a:focus-visible, h4 a:hover, h4 a:focus-visible, h5 a:hover, h5 a:focus-visible {
    opacity: 100%;
    border-radius: 50%;
}

.shake {
    animation: shake 1.0s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(0px, -1px) rotate(-.3deg);
    }
    15% {
        transform: translate(-1px, -1px) rotate(-.3deg);
    }
    20% {
        transform: translate(-1px, 0px) rotate(.3deg);
    }
    30% {
        transform: translate(0px, 1px) rotate(0deg);
    }
    40% {
        transform: translate(0px, 1px) rotate(0deg);
    }
    50% {
        transform: translate(-1px, 1px) rotate(-.3deg);
    }
    55% {
        transform: translate(0px, 1px) rotate(-.3deg);
    }
    60% {
        transform: translate(-1px, 0px) rotate(0deg);
    }
    60% {
        transform: translate(-1px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(1px, 1px) rotate(-.3deg);
    }
    80% {
        transform: translate(0px, -1px) rotate(.3deg);
    }
    90% {
        transform: translate(0px, -1px) rotate(.3deg);
    }
    100% {
        transform: translate(1px, 0px) rotate(-.3deg);
    }
}