@import "style.css";
html {
    overflow-y: auto;
    overflow-x: hidden;

    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

.folder {
    display: inline-block;
    margin-right: 10px;
    margin-left: -8px;
    border-top: .5em solid transparent;
    border-bottom: .5em solid transparent;
    border-left: 1em solid #646464;
}

.folder.active {
    transform: rotate(90deg);
}

.active>a {
    color: white;
}

img {
    max-height: 640px;
    object-fit: contain;
}

img.big {
    max-height: unset;
}

@media screen and (max-width: 900px) {
    img.left, img.right {
        display: none;
    }
    table {
        display: table;
        width: 100%;
    }
}

img.left {
    margin-left: -6em;
}

img.right {
    margin-right: -6em;
}

.print {
    display: none;
}

body {
    background-image: url(images/spots.png);
    background-repeat: repeat;
    margin: 0;
    margin-left: 290px;
    overflow-y: hidden;
    overflow-x: hidden;
}

@media print {
    body {
        margin: 0;
        margin-left: 0;
        overflow: visible;
    }
    #main-document {
        width: 100%;
        margin-left: 0px;
        overflow: visible;
    }
}

#main-document {
    padding: 1em;
    margin: auto;
    max-width: 42em;
}

@media screen and (max-width: 900px) {
    body {
        margin: 0;
        margin-left: 0;
    }
    #main-document {
        width: -webkit-fill-available;
        margin-left: 0;
        max-width: unset;
    }
}

img.left {
    float: left;
    clear: left;
    max-width: 20em;
    margin: 1em;
    margin-left: -1em;
}

img.right {
    float: right;
    clear: right;
    max-width: 20em;
    margin: 1em;
    margin-right: -1em;
}

/* Hacks */

#combat-actions>table, #bestiary table {
    width: -webkit-fill-available;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    position: relative;
    margin-right: -25px;
    top: -4px;
    left: -35px;
    font-size: 0.5em;
    border-radius: 50%;
    border: none;
    padding: 4px;
    opacity: 20%;
}

h1 a:hover, h1 a:focus-visible, h2 a:hover, h2 a:focus-visible, h3 a:hover, h3 a:focus-visible, h4 a:hover, h4 a:focus-visible, h5 a:hover, h5 a:focus-visible {
    opacity: 100%;
    border-radius: 50%;
}