<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scripts/nav.js" type="text/javascript"></script>
    <title></title>
</head>


<body>
    <header>
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <nav id="toc" role="doc-toc">
                <img src="images/skull.png" alt="Broken skull" />
            </nav>
        </div>
    </header>
    <div id="main-document">
        <div class="page">
        </div>
</body>

</html>